body{
    width: 100%;
    max-width: 100%;
}
.sub-navbar a{
    text-decoration: none;
    font-weight: 700;
    color: black;
    position: relative;
}
.sub-navbar a:hover{
    color: black;
}
.sub-navbar a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ca0000;
    transform-origin: bottom right;
    transition: transform 1s ease;
}
.sub-navbar a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.headline{
    font-size: 64px;
    font-weight: 700;
}
.sub-headline{
    margin-top: 34px;
    font-size: 16px;
    color: #808080;
}
.header-btn-div{
    margin-top: 60px;
}
.service-headline{
    font-size: 48px;
    font-weight: 800;
}
.service-details{
    font-size: 18px;
    line-height: 32px;
}
.service-icon{
    width: 100px;
    height: 100px;
}
.service-name{
    font-size: 20px;
    font-weight: 700;
}
.service-name-details{
    font-size: 12px;
    line-height: 18px;
}
.checkbox:checked{
    background-color: #cf0021;
    border-color: #cf0021;
}
.package-header{
    font-size: 50px;
    line-height: 60px;
}
.package-sub-header{
    font-size: 25px;
}
.set-package{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.set-package:hover{
    color: black;
}
.set-package-underlilne{
    /* width: 50%; */
    /* margin-left: 20%;
    margin-right: 20%; */
    /* text-decoration: none; */
    /* display: inline-block; */
    color:#c4c4c4;
    border: 2px solid #c4c4c4;
    opacity: 1;
}
/* .basic-btn:hover + .basic-btn-hr,.premium-btn:hover + .premium-btn-hr{
    color: rgb(182, 0, 0);
    border: 2px solid rgb(182, 0, 0);
} */
.active{
    color: rgb(182, 0, 0);
    border: 2px solid rgb(182, 0, 0);
}
.contact-section-div{
    /* width: 100%; */
    height: 400px;
    background-image: url("../image/bg.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.contact-header{
    font-size: 3.5rem;
    line-height: 80px;
    font-weight: 600;
}
footer, .footer-section{
    background-color: #b00000;
    color: white;
}
.company-details{
    color: #E5E5E5;
    font-size: 16px;
    text-align: justify;
}
.footer-section>.col>a{
    text-decoration: none;
    font-size: 16px;
    color: #E5E5E5;
    display: block;
}
.footer-section>.col>a:nth-child(even){
    margin:10px 0;
}